
/* GitHub Co-Pilot suggestions were taken into account*/
* {
  /* No white space*/
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Zilla Slab', serif;
  

}

header {
  background-color: #15c243;
  color: #fff;
  text-align: center;
  justify-content: center;
  width: 100%;
  display: block;
  position: fixed;
  font-size: x-large;

  /*position*/
  grid-column-start: 1;
  grid-column: span 3;
  z-index: 1000;


  font-family: 'Montserrat', sans-serif;
  font-family: 'Zilla Slab', serif;

  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
box-shadow: 0 4px 6px rgba(0, 0, 0, .3);

}

h1 {
  background-color: #15c243;
  color: #fff;
  text-align: center;
  padding:10px;
  display: block;
  border:0px;

}

h2{
width: 100%;
bottom: 20px;
}
footer {
  background-color: #15c243;
  color: #fff;
  text-align: center;
  z-index: 1000;
  position:fixed;
  bottom:0 ;
  width: 100%;


  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}
footer >a {
color: #fff;


border-radius: 5px;
transition: all 0.5s ease-in-out;
position: absolute;



}



body {
display: grid;
grid-template-columns: 200px ;
grid-template-rows: 0px;
gap: 10px;
/* padding: 10px; */
min-width: 100vw;
min-height: 100vh;
margin: 0px;
overflow-y: visible;
}


/* Controls birds box*/
main{

grid-row-start: 1;  
grid-column-start:1;
margin-left: 0px;


display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: center;
overflow-y: hidden;
overflow-x: hidden;



grid-area: main;
align-items: stretch;



}
/*changed to div from article
is where the containers are
*/

/* main>article{
width: 350px;
height: 200px;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
gap: 50px;
padding: 50px;
border-radius: 10px;
background-color: #ffffff;
grid-column-start: 1;
grid-row-start: 1;


} */

.sidebar{
/*padding: 15px;
/*grid-column: span 2;
grid-row: span 8;*/
/*background-color: #e9f2ed;
font-weight: bold;
font-size: medium;
font: Montserrat;
width:15%;*/
/* position: relative;
display: block;
grid-area: sidebar; */
/*grid-column: span 6;*/


grid-row: span 3;
grid-row-start: 1;





height: 100%;
width: 200px;
background-color: lightgray;
padding:10px; 
position: fixed;
z-index: 1;
top: 60px;
left: 0;
overflow-x: hidden;
padding-top: 20px;
transition: 0.5s;


-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
box-shadow: 0 4px 6px rgba(0, 0, 0, .3);

}

.filter-button{

width: 90%;
height: 30px;
position: absolute;
top:220px;
    margin:5px;

background-color: #15c243;
color: #fff;
border: none;
border-radius: 5px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
transition: 0.5s;

font-family: 'Montserrat', sans-serif;
font-family: 'Zilla Slab', serif;

}
.filter-button:hover{
background-color: #fff;
color: #15c243;
border: 1px solid #15c243;
transition: 0.5s;
}

.conservation-text{
  padding: 5px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
 position : absolute;
 top:310px;
}

#conservation-status-title{
  display: flex;
  position : absolute;
  top:280px;
  font-size: 20px;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


select{
  width: 100%;
  height: 27px;
  margin:5px;
  resize:vertical;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  font: small;
}
input{
  width: 100%;
    height: 27px;
    margin:5px;
    resize:vertical;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    font: small;
    padding: 3px;
  
}

select:hover{
  box-shadow: 2px 2px 10px 5px #007AFF;
  transition: box-shadow 0.25s ease-in-out;
}
input:hover{
  box-shadow: 2px 2px 10px 5px #007AFF;
  transition: box-shadow 0.25s ease-in-out;
}

.birbs-found{
  position: relative;
  top: 27px;
  font-size: 13px;
  color: #303834 ;
  left: 5px;
}

.reset-button{
  position: absolute;
  left:60%;
  top:1%;
  top:260px;
  width:80px;
}

.reset-button:hover{
  background-color: #fff;
  color: #15c243;
  border: 1px solid #15c243;
  transition: 0.5s;
}



div label{
font-size: 15px;
color: #303834 ;
}
aside label{
  font-size: 15px;
  color: #303834 ;
  }

form{
padding:10px;
width: 20%;
}


.conservation-text {
grid-template-areas: repeat(10, "div p");
grid-template-columns: 1fr 9fr;
display: grid;
grid-gap: 10px;
}

.conservation-text >div{
border-radius: 100%;
}

#status1 {
background-color: #02a028;
}
#status2 {
background-color: #649a31;
}
#status3 {
background-color: #99cb68;
}
#status4 {
background-color: #fecc33;
}
#status5 {
background-color: #fe9a01;
}
#status6 {
background-color: #c26967;
}
#status7 {
background-color: #9b0000;
}
#status8 {
background-color:#660032;
}
#status9 {
background-color: #320033
}
#status10 {
background-color: black;
}
#status11 {
background-color: black;
}

#sidebar-status-texts{
padding-top:20px;

}

.birb-photo{
width: 100%;
height: 50%;
object-position: 50%;
object-fit: cover;
/*border: 2px solid #fff;
box-shadow: 0 0 0 2px #000;
transition: box-shadow 0.25s ease-in-out;
box-shadow: 2px 2px 10px 5px #007AFF;
transition: box-shadow 0.25s ease-in-out;*/
border-top-left-radius: 20px;
border-top-right-radius: 20px;
margin-bottom: -4px;
position: relative;
}



#bird-container{
position: relative;
display: flex;
gap:20px;

}

/* .birb-article{ */
  .birb-card-house{
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

margin-bottom:-40px;
margin-top: 80px;
background-color: lightblue;
/*text-align: center;*/
/*width: 375px;*/
width:330px;
height: 500px;
display: -ms-inline-flexbox;
grid-column-start: 1;
align-items: stretch;
position: relative;

font-family: 'Montserrat', sans-serif;
font-family: 'Zilla Slab', serif;


/* Shadow*/
-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
box-shadow: 5px 5px 5px 5px var(--circle-bg-color);


/*Flip */
transition: transform 0.8s;
transform-style: preserve-3d;


}




.birb-card-front , .birb-card-back , .birb-card-house,.birb-article{
  border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

}
.birb-card-front:hover{
  /* box-shadow: 2px 2px 10px 5px #007AFF; */
  
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: 3px 3px 10px 5px var(--circle-bg-color);
  } 
  .birb-card-back:hover{
    transition: box-shadow 0.25s ease-in-out;
    box-shadow: 3px 3px 10px 5px var(--circle-bg-color);
  }

  

  


.birb-article > p,h2{
padding-left: 25px;
padding-bottom: 0px;
margin-bottom: 0px;
border-bottom: 0px;
}
.birb-card-front > p,h2{
  padding-left: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
  }


.sidebar >h2{
position: relative;
top: 5px;
left:10px;

}

.birb-primary-name{
text-align: left;
color: black;
z-index: 100;
font-size: 35px;
position: absolute;
top: 37%;
width: 100%;
height: -60%;
/*Font + Text Colour */
color: white;
font-weight: 200;
left: -10px;

}
.birb-credit{
position: absolute;
top: 45%;
color: white;
left: -10px;



}


.birb-colour-circle{
position: absolute;
 z-index: 100;
  border-radius: 50px;
  height: 45px;
  width: 45px;
  left:75%;
  top: 45%;
  border: 2px solid #fff;

}


.birb-english-name{
text-align: left;
color: black;
font-size: 25px;
position: relative;
top:20px;
margin-left: -10px;


}
.birb-other-names{
font-family: 'Montserrat', sans-serif;
font-family: 'Zilla Slab', serif;
}

/* 
.birb-scientific-name, .birb-order, .birb-family, .birb-status, .birb-length, .birb-weight{
left:150px;
float: right;
position: relative;
font-weight: lighter;
width: 100%;
top:50px;
margin:0px;
text-overflow: ellipsis;
overflow-x :hidden;
}


.sci-name-label, .order-label, .family-label, .status-label, .length-label, .weight-label{
float: left;
position: relative;
font-weight: lighter;
width: 100%;
left: 4%;
top:-65px;
margin:0px;
} */

.error{
position: relative;
width: 100%;
}


/*
display: grid;
grid-template-columns: 110px 160px;
grid-template-rows: repeat(6, 20px);
background-color: #00000000;
*/



.birb-labels{

color: black;
display : grid;
position: absolute;
float: left;
margin:0px;
z-index: 999;
font-weight: 300;
font-family: 'Zilla Slab', serif;
padding: 0px;
width:90%;
margin-top: 40px;
margin-left: 15px;
column-gap: 30px;
text-overflow: ellipsis;
white-space: nowrap;
} 

.birb-scientific-name{
  margin: 0px;
    background-color: #00000000;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.birb-scientific-name:hover{
  overflow: visible; 
  white-space: normal; 
}

.birb-family{
grid-area: right;
}








/*-------------------
Flipping
-----------------*/


.birb-card-house {
  /* background-color: transparent; */
  width:330px;
  height: 500px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
 /*House Front and back*/
.birb-article {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.birb-card-house:active, .birb-photo-article {

  transform: rotateY(180deg);
  backface-visibility: visible; 


}

.birb-card-front, .birb-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
   backface-visibility: hidden; 
}

/* Style the front side (fallback if image is missing) */
.birb-card-front {
  color: black;
}

/* Style the back side */
.birb-card-back {
  background-color: lightblue;
  color: white;
   transform: rotateY(180deg);
  border-radius: 5px;
  position: relative ;
  width:330px;
  height: 500px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.birb-card-back > .birb-other-names{
  padding: 10px;
  top: 50px;
  color: black;
  text-align: center;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  left:-10px;


}

.other-names-header{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  color: black;
  position: absolute;
  top: 10px;
  text-align: center;
  left:-30px;

}

.back-card-image{
  position: absolute;
  width: 200px;
  height: 250px;
  z-index: 1000;
  top: 200px;
  left: 60px;
}



/*------------------------------------*/


.birb-other-names{
  width: 100%;
  position: absolute;
  z-index: 500000;
  }
  
  .birb-photo:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: cubic-bezier(0.77, 0, 0.175, 1);
    /* transition: box-shadow 0.25s ease-in-out; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 10px 5px var(--circle-bg-color);
    z-index: 1000;
  
  }



  .close-sidebar-button{
    display: block;
    position: absolute;
    color: white;
    font-size: 50px;
    margin-left: 30px;
    /* margin-top: 0px;  */
    visibility: visible;
    }
  
  
  .open-sidebar-button{
      font-size: 50px;
      color: red;
      position: relative;
      z-index: 1000;
      float:left;
      margin-left: 10px;
       display: none;
   }




/* phone */
@media (max-width: 600px) { 

body {
}

header{
    margin: 0px;
   padding:0px;
}
.sidebar{
    /* Display & Box Model */
transition: 0.5s;
/* visibility: hidden; */
width:0;
padding:0;

}






body{
  grid-template-columns: 200px 3fr;

}

main{
  grid-column-start: 1;  

}





footer{
display: none;
}

}

/* Small screens (phones) */
@media (max-width: 1044px) {
/* header{
    margin: 0;
   
}

h1 {
    margin: 0;
} */

footer {
    display: none;
}
.birb-article:active{
  /* box-shadow: 2px 2px 10px 5px #007AFF; */
  
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: 2px 2px 10px 5px var(--circle-bg-color);
  } 



}

@media (min-width: 1366px) {
body {
}
}



/*  width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 10px;
padding: 10px;
border-radius: 10px;
background-color: #e9f2ed; 
*/







