
/* GitHub Co-Pilot suggestions were taken into account*/
* {
    /* No white space*/
    margin: 0px;

}
header {
    background-color: #15c243;
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    display: block;
    position: fixed;

    grid-column-start: 1;
    grid-column: span 3;
    z-index: 1000;

}

h1 {
    background-color: #15c243;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: block;
    border:0px;

}

h2{
  width: 200px;
  bottom: 20px;
}
footer {
    background-color: #15c243;
    color: #fff;
    padding: 20px;
    text-align: center;

    position:fixed;
    bottom:0 ;
    width: 100%;

}

body {
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: 150px 1fr 100px;
  gap: 10px;
  /* padding: 10px; */
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0px;
}


/* Controls birds box*/
main{
    
   /* color: #000;
    margin-left: 15%;
  font-size: 14px;
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;*/
grid-row-start: 2;  
grid-column-start:2;
margin-left: 0px;
display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
overflow-y: hidden;



}
 /*changed to div from article
 is where the containers are
 */
 
main>article{
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  grid-column-start: 1;
  grid-row-start: 1;
 

}

.sidebar{
  /*padding: 15px;
  /*grid-column: span 2;
  grid-row: span 8;*/
  /*background-color: #e9f2ed;
  font-weight: bold;
  font-size: medium;
  font: Montserrat;
  width:15%;*/
  /* position: relative;
  display: block;
  grid-area: sidebar; */
  /*grid-column: span 6;*/
  grid-row: span 3;
  grid-row-start: 1;
  height: 100%;
  width: 200px;
  background-color: lightgray;
  padding:10px;
  position: fixed;
  z-index: 1;
  top: 97px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;


}

  .conservation-text{
    padding: 5px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);


  }
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
 

  select{
    width: 175px;
    height: 25px;
    margin:5px;
    resize:vertical;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    font: small;
  }
  input{
    width: 175px;
      height: 30px;
      margin:5px;
      resize:vertical;
      border-radius: 5px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      background-color: #fff;
      font: small;
      padding: 3px;
    
  }

  select:hover{
    box-shadow: 2px 2px 10px 5px #007AFF;
    transition: box-shadow 0.25s ease-in-out;
  }
  input:hover{
    box-shadow: 2px 2px 10px 5px #007AFF;
    transition: box-shadow 0.25s ease-in-out;
  }



div label{
  font-size: 15px;
  color: #303834 ;
}

form{
  padding:10px;
  width: 20%;
}


.conservation-text {
  grid-template-areas: repeat(10, "div p");
  grid-template-columns: 1fr 9fr;
  display: grid;
  grid-gap: 10px;
}

.conservation-text >div{
 border-radius: 100%;
}

#status1 {
  background-color: #02a028;
}
#status2 {
  background-color: #649a31;
}
#status3 {
  background-color: #99cb68;
}
#status4 {
  background-color: #fecc33;
}
#status5 {
  background-color: #fe9a01;
}
#status6 {
  background-color: #c26967;
}
#status7 {
  background-color: #9b0000;
}
#status8 {
  background-color:#660032;
}
#status9 {
  background-color: #320033
}
#status10 {
  background-color: black;
}
#status11 {
  background-color: black;
}

#sidebar-status-texts{
  padding-top:20px;

}


.birb-photo{
  width: 100%;
  height: 15em;
  object-fit: cover;
  /*border: 2px solid #fff;
  box-shadow: 0 0 0 2px #000;
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: 2px 2px 10px 5px #007AFF;
  transition: box-shadow 0.25s ease-in-out;*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -4px;
  position: relative;
}

.birb-article{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

margin-bottom: 40px;
background-color: lightblue;
text-align: center;
width: 250px;
height: 480px;
grid-column-start: 1;
gap:40px;

justify-content: stretch;
align-items: stretch;
}

.birb-primary-name{
  text-align: left;
  color: black;
}

.bird-container{
  
}
/*  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e9f2ed; 
*/







