
/* GitHub Co-Pilot suggestions were taken into account*/
* {
    /* No white space*/
    margin: 0px;

}
header {
    background-color: #15c243;
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    display: block;
}

h1 {
    background-color: #15c243;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: block;
    border:0px;

}
footer {
    background-color: #15c243;
    color: #fff;
    padding: 20px;
    text-align: center;

    position:fixed;
    bottom:0 ;
    width: 100%;

}

body {
    overflow-x: hidden;
}

main{
    
    background-color: #fff;
    color: #000;
    margin:0px;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    grid-area: footer;
    grid-column: span 2;
    padding: 5px;
    height: 10px;
}

/* Lab 3.5 */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  /* optional visual styles */
  .flex-container > * {
    color: #007AFF;
    background: #B5D7FD;
    height: 60px;
    width: 60px;
    padding: 15px;
    border: 2px solid #007AFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
  }

  .conservation-text{
    background: rgb(255, 255, 255);
    padding: 1em;
    width: 250px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);

  }

  .sidebar{
    padding: 15px;
    /*grid-column: span 2;
    grid-row: span 8;*/
    background-color: #e9f2ed;
    font-weight: bold;
    font-size: medium;
    display:block;
    position: relative;
    font: Montserrat;
    
  }

  select{
    width: 100%;
    height: 30px;
    margin:5px;
    resize:vertical;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    font: small;
    padding: 3px;
  }
  input{
      width: 100%;
      height: 30px;
      margin:5px;
      resize:vertical;
      border-radius: 5px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      background-color: #fff;
      font: small;
      padding: 3px;
    
  }

  select:hover{
    box-shadow: 2px 2px 10px 5px #007AFF;
    transition: box-shadow 0.25s ease-in-out;
  }
  input:hover{
    box-shadow: 2px 2px 10px 5px #007AFF;
    transition: box-shadow 0.25s ease-in-out;
  }



div label{
  font-size: 15px;
  color: #303834 ;
}

form{
  padding:10px;
}

colour wheel{
width: 20%;
}

.conservation-text {
  grid-template-areas: repeat(10, "div p");
  grid-template-columns: 1fr 9fr;
  display: grid;
 grid-gap: 10px;
}

.conservation-text >div{
 border-radius: 100%;
}

#status1 {
  background-color: #02a028;
}
#status2 {
  background-color: #649a31;
}
#status3 {
  background-color: #99cb68;
}
#status4 {
  background-color: #fecc33;
}
#status5 {
  background-color: #fe9a01;
}
#status6 {
  background-color: #c26967;
}
#status7 {
  background-color: #9b0000;
}
#status8 {
  background-color:#660032;
}
#status9 {
  background-color: #320033
}
#status10 {
  background-color: black;
}
#status11 {
  background-color: black;
}
  
